 body, html{
 	height: 100%;
 	margin: 0;
 	font-size: 16px;
 	font-family: 'Abel', sans-serif;
 	font-weight: 400;
 	line-height: 1.8em;
 	color: #666;
 }

.container
{
	margin: 0 auto;
}

nav
{
	float: right;
}

.menu li
{
	padding: 0;
	display: block;
	float: left;
}

.menu li a
{
	color: #fff;
	text-decoration: none
}
 .parallax-img1, .parallax-img2, .parallax-img3 
 {
 	position:relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    scroll = normal
    */
    background-attachment: fixed;
 }

.parallax-img1 
{
 	background-image: url('../img/image8.jpg');
 	min-height: 100%;
}

.parallax-img2 
{
 	background-image: url('../img/image3.jpg');
 	min-height: 400px;
 }

.parallax-img3 
{
 	background-image: url('../img/image5.jpg');
 	min-height: 400px;
}

.section 
{
	text-align: center;
	padding: 50px 80px;
}

.section-light 
{
	background-color: #f4f4f4;
	color: #666;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.flex-center {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.ptext 
{
	color: #000;
	font-size: 37px;
	letter-spacing: 12px;
	text-transform: uppercase;
	background-color: #111;
	color: #fff;
	padding: 10px 10px 10px 22px;
	line-height: 57px;
	max-width: 80%;
}

@media (max-width: 600px) {
	.ptext {
		font-size: 20px;
	}
}


.contact
{
	background-color: #666666;
	color: #FFFFFF;
	/*padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;*/
	padding: 40px 40px 60px 40px;
}


.btn-pretty
{
	background-color: pink;
	transition-duration: .4s;
}

.btn-pretty:hover
{
	/*color: pink;*/
	/*background-color: #FFFFFF;*/
}

.send-button
{
	/*width: 200px;
	border-radius: 30px;*/
	background-color: transparent;
	padding: 0;
}


.follow-buttons
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	height: 300px;
}

.animated-follow-me
{
	display: block;
}

@media (max-width: 768px) {
	.follow-buttons {
		flex-direction: row;
		height: auto;
	}

	.follow-buttons canvas {
		width: 100%;
	}
}

.instagram-post 
{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}